<div class="">
    <form action="?route=book/store" method="post">
        <div class="form-group">
            <label for="Name">Name</label>
            <input type="text" name="Name" class="form-control">
        </div>

        <div class="form-group">
            <label for="Author">Author</label>
            <input type="text" name="Author" class="form-control">
        </div>

        <div class="form-group">
            <label for="Data">Data</label>
            <input type="text" name="Data" class="form-control">
        </div>

        <button class="btn btn-primary" type="submit">Save</button>
    </form>
</div>